# ==================================
# Файл: requirements.txt
# (Список зависимостей Python)
# ==================================
python-telegram-bot
psycopg2-binary
Flask
gunicorn
pandas
openpyxl
python-dotenv
pytz
qrcode[pil]